.headers {
  color: white;
  background: #173686;
}

body{
  font-family: "Quicksand",sans-serif;
}
.font-doto {
  font-family: "Doto", sans-serif;
}

.font-edu {
  font-family: "Edu AU VIC WA NT Pre", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-protest {
  font-family: "Protest Guerrilla", cursive;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-roboto-flex {
  font-family: "Roboto Flex", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.card {
  color: white;
  background: #111217;
}
.card3 {
  color: white;
  background: #090909;
}
.card2 {
  color: white;
  background: #000000;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skeleton-blue {
  background: linear-gradient(90deg, #173686 25%, #1d4ed8 50%, #173686 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 2px;
}
.skeleton-zinc {
  background: linear-gradient(90deg, #000000 10%, #111217 50%, #000000 90%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
